/* font-family: "RobotoLight"; */
@font-face {
  font-family: RobotoLight;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype");
  src: url("../fonts/RobotoLight/RobotoLight.woff") format("woff");
  src: url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
}
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype");
  src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff")l;
  src: url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: RobotoMedium;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype");
  src: url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff");
  src: url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype");
  src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
  src: url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

*
  font-family RobotoLight

.icoHead
  float left
  margin-right 20px
  width 56px
  height 56px

.winner-block
  width 400px
  height auto
  margin 50px auto
  text-align center

  .avatar
    width 112px!important
    height 112px!important
    line-height 106px!important
    font-size 156px!important
    background-color rgb(0, 188, 214)!important

  .name
    font-size 32px

.statistics-block

  .elem
    display inline-block
    padding-right 10px

.stats-month
  width 170px

  h3
    text-align center

.stats-day
  width 28px!important
  height 28px!important
  line-height 28px!important
  font-size 16px!important
  margin 5px 5px 0 0
  background-color lightblue!important

.short-stats-block
  div
    text-align left

.main-page-block
  .short-stats-block
    div
      text-align center
